@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: 'Lexend', cursive;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
    width: 85vw;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

menu > ul > li > a:hover {
    background-color: rgb(107, 107, 107);
    border-radius: 10px;
}


i#burger {
    background-color: gray;;
    color: white;
    display: block;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

i#burger:hover {
    color: black;
}




main {
    width: 80vw;
    /*background-color: white;*/
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}

/*-------------HOME--------------*/

section.home {
    background-color: #8F8B89;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

section.home img {
    max-width: 150px;
    border-radius: 50%;
}

.home-text {
    margin-left: 30px;
    padding: 5px;
}

.home-text h1 {
    color: #D1FFFE;
    margin-top: 5px;
}

button.contato {
    background-color: #62DBD8;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
}

button.contato:hover {
    background-color: #D1FFFE;
    color: black;
    cursor: pointer;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}


/*-------------ABOUT--------------*/

section.about {
    background-color: #8F8B89;
    border-radius: 15px;
    margin-bottom: 30px;
    
}

section.about > h2 {
    padding: 10px;
    text-align: center;
}

section.about > h3 {
    
    padding-top: 20px;
    margin-left: 20px;
}

section.about > p {
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 0px 20px 30px 20px;
}



/*-------------SKILLS--------------*/

.skills h2 {
    /*margin-left: 20px;*/
    color: white;
    text-align: center;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8F8B89;
    border-radius: 15px;
    padding: 20px;
}

#skills > h2, h4 {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

#skills .category {
    margin-top: 2px;
}

#skills .category div {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

#skills .category div img {
    width: 50px;
    height: auto;
}

#skills .category div span {
    display: block;
}

#skills > div {
    text-align: center;
    margin: 10px;
}

#skills > div > img{
    width: 50px;
    height: auto;
}

#skills > div > span {
    display: block;
}




/*PROTIFOLIO*/

.portfolio-section {
    background-color: #8F8B89;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
}

.portfolio-section h1 {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.portfolio-item {
    display: flex;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.project-image {
    width: 40%;
    object-fit: cover;
}

.project-details {
    padding: 20px;
    color: white;
    flex-grow: 1;
}

.project-details h2 {
    margin-top: 0;
}

.project-buttons {
    margin-top: 10px;
}

.project-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 10px;
}

.view-project-button {
    background-color: #F0F0F0;
    color: black;
}

.view-repo-button {
    background-color: #000;
    color: white;
}

.tech-icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.tech-icons img {
    width: 30px;
    height: 30px;
}










div.projetos {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: right;
}

div.projetos > a {
    text-decoration: none;
    color: black;
}

div.projetos > a:hover {
    color: green;
    text-decoration: underline;
}










/*-------------CONTACT--------------*/


.contact-section {
    background-color: #8F8B89;
    border-radius: 15px;
    margin-top: 30px;
    padding: 20px;
}


.contact-section h1 {
    color: white;
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.contact-item img.icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.contact-icons {
    display: flex;
    gap: 5px;
    margin-left: auto;
}
